name: accurate_step_counter_example
description: "Demonstrates how to use the accurate_step_counter plugin."

publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  accurate_step_counter:
    path: ../

  cupertino_icons: ^1.0.8
  permission_handler: ^11.0.0

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
